{% extends "main/base.html" %}

{% block title %}Тема поста {{ post.title }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Создать пост</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Заголовок</label>
                        <input value="{{ post.title }}" type="text" name="title" id="id_title" class="form-control" required placeholder="Введите заголовок">
                    </div>
                    <div class="mb-3">
                        <label for="id_content" class="form-label">Содержание</label>
                        <input value="{{ post.content }}" name="content" id="id_content" rows="5" class="form-control" required placeholder="Введите содержание"></input>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Обновить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}